.root {
  padding: 0.6rem 1.5rem;
  font-size: 0.8rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid var(--subtle);
  color: var(--text-color);
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.3s;
  appearance: none;
  position: relative;
  outline: none;
}

.root::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 0px solid;
  border-color: inherit;
  transition: border-width 0.3s;
}

.root:hover,
.root:focus {
  border-color: var(--accent);
  color: var(--accent);
  background: var(--dark);
}

.root:hover::before,
.root:focus::before {
  border-width: 4px;
}

.root[data-large="true"] {
  padding: 1.25rem 3rem;
  font-size: 1.2rem;
}

.root[data-subtle="true"] {
  border-color: var(--subtle);
  color: var(--subtle);
}

.root[data-subtle="true"]:hover,
.root[data-subtle="true"]:focus {
  border-color: var(--text-color);
  color: var(--text-color);
}
