.images {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
}

.images::-webkit-scrollbar {
  width: 10px;
}

.images::-webkit-scrollbar-track {
  background: transparent;
}

.images::-webkit-scrollbar-thumb {
  background: var(--subtle);
  border-radius: 3px;
}

.image {
  flex: 0 0 auto;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  justify-content: end;
  aspect-ratio: 1.5 / 1;
}

.image img {
  flex: 1 1 auto;
  display: block;
  height: 100%;
  width: auto;
  mix-blend-mode: overlay;
  object-fit: cover;
}
