.container {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  pointer-events: auto;
}

.subtitle {
  font-size: 0.9rem;
  letter-spacing: 0.3em;
  color: #888;
  text-transform: uppercase;
  margin: 0;
  font-family: "Orbitron", ui-sans-serif, system-ui, sans-serif;
}

.title {
  font-size: clamp(2rem, 7vw, 5rem);
  font-weight: 200;
  letter-spacing: 0.15em;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
  font-family: "Goldman", ui-sans-serif, system-ui, sans-serif;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
  flex-direction: column;
  align-items: stretch;
  justify-items: stretch;

  > * {
    visibility: hidden;
  }
}

.secondaryButtonGroup {
  display: flex;
  gap: 1rem;
}
